.content {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

@media screen and (max-width: 450px) {
  .snippet__thumbnail {
    display: none;
  }
  .snippet {  
    padding: 0;
    margin: 12px 0;
  }
}

@media screen and (max-width: 549px) {
  .header__logo {
    height: 48px;    
    margin-right: 0.5em;
    margin-bottom: 0.75em;
  }
  .header__title {
    margin-left: 0;
    font-weight: 400;
    font-size: 2.5em;
    vertical-align: bottom; 
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
  .hero_description h2 {
    font-size: 2.5vmax;
  }
  .hero_description p {
    font-size: 1.85vmax;
  }  
  .top-news__item {
    font-size: 1.75vmax;
  }
 .scores__location {
    display: none;    
  }
  .scores {
    font-size: 1rem;
  }
}

@media screen and (min-width: 550px) {
  .hero {
    order: 0;
    width: 55%;
  }
  .weather {
    order: 1;
    width: 45%;
  }
  .hero_description h2 {
    font-size: 2.7vw;
  }
  .top-news__item {
    font-size: 2.25vw;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    width: 55%;
  }
  .top-news {
    order: 1;
    width: 45%;
  }
  .scores {
    order: 2;
    width: 60%;
  }
  .weather {
    order: 3;    
    margin-left: 5%;
    margin-right: 5%;
  }
  .hero_description h2 {
    font-size: 2.65vw;
  }
  .top-news__item {
    font-size: 1.7vw;
  }  
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_description h2 {
    font-size: 1.4rem;
  }
  .hero_description p {
    font-size: .8rem;
  }
  .top-news__item {
    font-size: .9rem;
  }